html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #131A13 !important;
  color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  width: 100% !important;
  border-radius: 30px !important;

}
i{
  font-size: 30px;
}
.btn-dark {
  background-color: #0A0000 !important;
}

img.dark {
  filter: invert(100%);
}

h1.dark {
  color: black;
}

.card {
  border-radius: 20px !important;
}

nav {
  height: 20vh !important;
  padding: 0 10vw 0 10vw !important;
  background-color: 0 !important;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.profilePic {
  height: 10%;
  width: 10%;
}

.playlistCard{
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.playlistCard:hover{
  transform: scale(1.05);
  background-color: #0f0f0f !important;
}
.playlistSongItem{
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.playlistSongItem:hover{
  background-color: #0f0f0f !important;
}

.playlistCardText{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul{
  padding: 0 !important;
}
li{
  list-style: none !important;
}

.settingsList{
  font-size: 25px;
  border-radius: 20px;
  cursor: pointer;
}

.settingsList:hover{
  background-color: rgba(0, 0, 0, 0.315);
}

.settingsList.active{
  background-color: rgba(0, 0, 0, 0.315);
}

.settingsPanel{
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 20px;
}

.settingsList > i {
  font-size: 3.5vmin;
}
.settingsList > span {
  font-size: 3.5vmin;
}